@model IEnumerable<Proyecto3.Entidades.Clases.Mascota>

@{
    ViewData["Title"] = "Lista de Mascotas";
}

<h1>Lista de Mascotas</h1>

<p>
    <a asp-action="Create">Agregar Mascota</a>
</p>

<div class="row mb-3">
    <div class="col-md-4">
        <form asp-action="Search" class="input-group">
            <input name="criterioBusqueda" class="form-control me-1" type="search" placeholder="Buscar por Cedula, Especie, Raza o Color" />
            <div class="input-group-append">
                <button type="submit" value="Buscar" class="btn btn-primary">Buscar</button>
            </div>
        </form>
    </div>
</div>

@if (Model is not null && Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteCedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreMascota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Especie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Raza)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UltimaAtencion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClienteCedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreMascota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Especie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Raza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UltimaAtencion)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger">
        <strong>¡Atencion!</strong> No hay datos de Mascotas.
    </div>
}