@model Proyecto3.Entidades.Clases.Cliente

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar este Cliente?</h3>
<hr />
<div>
    <h4>Datos del Cliente</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provincia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Canton)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Canton)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distrito)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactoPreferido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactoPreferido)
        </dd>
    </dl>

    <div>
        <h4>Datos las mascotas</h4>
        @if (Model.Mascotas is not null && Model.Mascotas.Count() > 0)
        {
        }
        else
        {
            <div class="alert alert-warning">
                <strong>¡Atencion!</strong> Este cliente no tiene mascotas asociadas.
            </div>
        }
    </div>

    <form asp-action="Delete">
        @Html.Hidden("cedula", Model.Cedula)
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a lista de clientes</a>
    </form>
</div>
