@model IEnumerable<Proyecto3.Entidades.Clases.Empleado>

@{
    ViewData["Title"] = "Lista de Empleados";
}

<h1>Lista de Empleados</h1>

<p>
    <a asp-action="Create">Agregar Empleado</a>
</p>

<div class="row mb-3">
    <div class="col-md-4">
        <form asp-action="Search" class="input-group">
            <input name="criterioBusqueda" class="form-control me-1" type="search" placeholder="Buscar por Cedula o Tipo Empleado" />
            <div class="input-group-append">
                <button type="submit" value="Buscar" class="btn btn-primary">Buscar</button>
            </div>
        </form>
    </div>
</div>

@if (Model is not null && Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalarioDiario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoEmpleado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalarioDiario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoEmpleado)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { cedula = item.Cedula }) |
                        @Html.ActionLink("Detalles", "Details", new { cedula = item.Cedula }) |
                        @Html.ActionLink("Eliminar", "Delete", new { cedula = item.Cedula })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger">
        <strong>¡Atencion!</strong> No hay datos de Empleados.
    </div>
}
